<h2>Create your profile</h2>
<br />
<form method="post" action="/Profiles/New">

    <label>First Name</label>
    <input type="text" name="FirstName">
    <br />
    <br />
    <label>Last Name</label>
    <input type="text" name="LastName">
    <br />
    <br />
    <label>User Name</label>
    <input type="text" name="UserName">
    <br />
    <br />
    <label>Write a short description</label>
    <input type="text" name="Description">
    <br />
    <br />
    <input type="hidden" name="JoinDate" value="@DateTime.Now" />
    <br />
    <label>Private or Public account?</label>
    <select name="IsPrivate">
        <option value="true">Private Account</option>
        <option value="false">Public Account</option>
    </select>
    <br />
    <br />
    <label>Choose your avatar </label>
    <br />
    <br />
    <div class="d-flex justify-content-start flex-row mt-3 gap-3">

    <img style="width:200px" src="https://cdn-icons-png.flaticon.com/512/2517/2517614.png" class="card-img-top" />
    <img style="width:200px" src="https://cdn-icons-png.flaticon.com/512/1533/1533361.png" class="card-img-top" />
    
    </div>


    <div class="d-flex justify-content-start flex-row mt-3 gap-5">
        <input type="radio" class="btn-check" id="option1" autocomplete="off" checked name="ProfilePicture" value="https://cdn-icons-png.flaticon.com/512/2517/2517614.png"></input>
        <label class="btn btn-secondary" for="option1">I want to be this guy!</label>
        <input type="radio" class="btn-check" id="option2" autocomplete="off" checked name="ProfilePicture" value="https://cdn-icons-png.flaticon.com/512/1533/1533361.png"></input>
        <label class="btn btn-secondary" for="option2">I want to be this gal!</label>
    </div>

    <br />
    <br />
  
    <button class="btn btn-outline-success">Create</button>
</form>
